/* floating box style */
.floating-form { /*contact form wrapper*/
    max-width: 300px;
	min-height: 300px;
    padding: 30px 30px 10px 30px;
    border: 1px solid #ddd;
    right: 10px;
    top: 80px;
    position: fixed; /*Form position fixed*/
	z-index:100;
	background: #F9F9F9 none repeat scroll 0%
    }
	.floating-form2 { /*contact form wrapper*/
	top:160px;
	max-width: 235px;
	min-height: 280px;
    padding: 2px 2px 1px 2px;
    border: 1px solid #ddd;
    right: 10px;
	top: 160px;
    position: fixed; /*Form position fixed*/
	z-index:100;
	background: #F9F9F9 none repeat scroll 0%
    }
.contact-opener { /*opener button*/
    position: absolute;
    left: -60px;
    transform: rotate(-90deg); /* rotate button -90deg */
    top: 20px;
    padding: 9px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
	z-index:100;
    border-radius: 5px 5px 0px 0px;
	background: #28739E linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%) repeat scroll 0% 0%;
}

.below1 { /*opener button*/
   
    position: absolute;
    left: -58px;
    
    transform: rotate(-90deg); /* rotate button -90deg */
    top: 4px;
    padding: 9px;

    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
	z-index:100;
    border-radius: 5px 5px 0px 0px;
	background: #28739E linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%) repeat scroll 0% 0%;
	left:-43px;
}